/*style sheet*/
/* header component */
.header {background-color: #3a2d32;
        border: none;
    }
/* navigation buttons container */  
.inline-block {display: inline-block;
            vertical-align: top;
            width: 73%;
            padding: 1%;
            }
/* logo from image */ 
.logo { padding: 1%;
        width: 23%;
        align-items: left;
    }    
/* navigation buttons individual with text */ 
.navButton { width: 50%;
            margin-left: auto;
            color: white;
            }
/* container for hero image and welcome text */
.heroImgBox {background-color: #green;

    /* parallax image*/ 
            background-image: url("image/heroimage.jpg");
            height: 100%;

            /*parallax effect */ 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;
            text-align: center;
            }
/* container for welcome text */
.textBox {position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
/* welcome text */ 
.h1 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 48px;
        font-weight: 600;
    }
/* container for about me text, resume button, and headshot */
.AboutMe {background-color: #3a2d32;
        border: none;
    }
/* personal headshot image */
.bioImg {}

/* container for about me text */
.aboutMeText {}

/* about me text */ 
.p {font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}
.footer {background-color: #3a2d32;
        padding: 50%;
    }
.socialMediaButtons { display: inline-block;
                    color: aqua;
                }
.h3 { font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;}
